.login{

    border: 4px solid black;
    margin-left: 10%;
    font-size:large ;
    color: blue;
    background:wheat;
    align-items: center;
    position: absolute;
    height: 50%;
    width: 50%;
    padding: auto;
    justify-content: space-between;
    text-decoration: wavy;
    opacity: 0.5;
    display: flex;
}